
<h3>Here's a list of everyone's secrets - (Shhh!)</h3>

<% @posts.each do |post| %>
  <p><%= post.content %></p>
  <% if logged_in? %>
    <h6>
      This is where the author's name would go, if I could get this to work....
    </h6>
  <% end %>
<% end %>
